body {
	background-color: black; 
	color: white;
	font-family: monospace;
}

#distance {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
}

#top {
    position: fixed;
    width: 100%;
    height: 13px;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 7px;
	cursor: default;
}

#counter {
    display: inline;
	color: #999;
}